@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:200,300,400,500,600,700");

body {
  font-family: FiraGO;
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 8px;

    button {
      cursor: pointer;
      border-radius: 8px;
      background: #5d37f3;
      padding: 10px 20px;
      color: #fff;
      border: none;
    }

    .logOut {
      background-color: #f2f2fa;
      color: black;
    }
  }
}

.text {
  &-small {
    font-size: 12px;
  }

  &-medium {
    font-size: 16px;
  }

  &-large {
    font-size: 20px;
  }

  &-xl {
    font-size: 64px;
  }

  &-bold {
    font-weight: 500;
  }
}

.p-1 {
  padding: 0 76px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background: #5d37f3;
  padding: 10px 20px;
  color: #fff;
  border: none;

  &:disabled {
    cursor: auto;
    background-color: #e4e3eb;
  }
}
